<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Counters update interval in milliseconds. -->
    <add key="updateIntervalMsec" value="1000" />
    <!-- 
    Specifies whether PCIe bus/device ids should be use in device name when creating a counter instance.
    On HPC cluster with machines having multiple GPUs it might be useful to set the flag to false to enable easier monitoring.
    -->
    <add key="usePcieIdInDeviceName" value="true" />
  </appSettings>
</configuration>